body, h1, textarea, button {
  font-family: 'Press Start 2P', OCR A Extended, arial;
  font-weight: bold;
  margin: 2em;
}

body {
  margin: 2em 1em;
}

section.message-list {
  display: flex;
  flex-direction: column;
}
.message-list > .message {
  display: flex;
  margin-top: 2rem;
}
.message-list > .message > .nes-balloon {
  max-width: 550px;
}
.message-list > .message i {
  align-self: flex-end;
}
.message-list > .message.-left {
  align-self: flex-start;
}
.message-list > .message.-right {
  align-self: flex-end;
}
.message-list > .message.-left i {
  margin-right: 2rem;
}
.message-list > .message.-right i {
  margin-left: 2rem;
}

#error-container {
  margin-top: 1em;
  color: red;
  display: none;
}

.icon-list > .blur-filter {
  filter: blur(10px);
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  text-align: center;
}